.main__container__redes {
    max-width: 1160px;
    height: 120px;
    background-color: #2A91EB;
    color: white;
    border-radius: 8px 8px 40px 8px;
    position: relative;
    text-align: left;
    margin: auto;
    margin-bottom: 2rem;
}
.main__container__redes__text{
    position: absolute;
    left: 10%;
}

.main__container__redes>h2 {
    font-weight: 700;
    font-size: 24px;
}

.main__container__redes>p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.main__container__redes__img_left {
    position: absolute;
    left: 16px;
    width: 76px;
    height: 120px;
}